#uploadbox {
    background-color: #f0f0f0c4;
    border-radius: 5%;
    border-style: dotted;
    margin-top: 20px;
    height: 500px;

    
}

 
#uploadtext {
    margin-left: 5%;
    margin-top: 25%;

}


#fotos {

    padding: 20px 20px;

}